/* CSS reformulado */

#4caf50

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #222222;
    margin: 0;
    padding: 10px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    font-size: 6ex;
  }

  h2 {
    color: #222222;
    margin-bottom: 30px;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    font-size: 6ex;
  }

  h3 {
    color: #DBA502;
    margin-bottom: 5px;
    font-family: Arial, sans-serif; 
    font-size: 5ex;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-size: 4ex;
  }

  label_central {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-size: 4ex;
    text-align: center;
  }

  small{
    font-size: 3ex;
  }
  
  

  input[type="number"],
  input[type="date"],
  input[type="text"] {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 35px;
    margin-bottom: 10px;
    
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .flex-container > div {
    flex-basis: calc(50% - 10px);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #DBA502;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-size: 6ex;
    justify-content: center;
    text-align: center;
    margin: 0 auto
  }
  
  button:hover {
    background-color: #ce9b02;
  }
  header {
    display: flex;
    align-items: center;
  }

  header img {
    margin-right: 10px;
  }